In [2]:
import pandas as pd

In [4]:
!more dataset.tsv

Name    Birth   City    Position
Р�РІР°РЅРѕРІ Рђ.Рђ.    22.03.1980      РњРѕСЃРєРІР°
РЎРѕСЂРѕРєРёРЅ Р�.Р’.  07.08.1965      Р’РѕР»РіРѕРіСЂР°Рґ      РёРЅР¶РµРЅРµСЂ
Р‘РµР»РѕРІ Рњ.Рњ.        13.02.1980      Р РѕСЃС‚РѕРІ    РјРµРЅРµРґР¶РµСЂ
РњРµР»СЊРЅРёРєРѕРІР° Р”.РЎ.    15.04.1985      Р РѕСЃС‚РѕРІ
Р С‹Р±РёРЅР° Р•.Рџ.    19.11.1985      РњРѕСЃРєРІР°    РёРЅР¶РµРЅРµСЂ
РљРѕСЃС‚СЂРѕРІ РЎ.Рћ.    31.05.1985      РњРѕСЃРєРІР°    СЃС‚Р°Р¶РµСЂ

In [16]:
import codecs as cds

In [21]:
f = cds.open('dataset.tsv', 'r', 'utf-8')
u = f.read()
u

'Name\tBirth\tCity\tPosition\rИванов А.А.\t22.03.1980\tМосква\t\rСорокин И.В.\t07.08.1965\tВолгоград\tинженер\rБелов М.М.\t13.02.1980\tРостов\tменеджер\rМельникова Д.С.\t15.04.1985\tРостов\t\rРыбина Е.П.\t19.11.1985\tМосква\tинженер\rКостров С.О.\t31.05.1985\tМосква\tстажер'

In [42]:
frame = pd.DataFrame({'numbers':range(11), 'chars':['a']*11})
frame

    numbers chars
0         0     a
1         1     a
2         2     a
3         3     a
4         4     a
5         5     a
6         6     a
7         7     a
8         8     a
9         9     a
10       10     a

In [50]:
pd.__version__
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 2 columns):
numbers    11 non-null int64
chars      11 non-null object
dtypes: int64(1), object(1)
memory usage: 256.0+ bytes