In [29]:
import pandas as pd
import numpy as np

from scipy.stats import pearsonr
from scipy.stats import spearmanr

In [11]:
data = pd.read_csv('illiteracy.txt', sep='\t',header=0)

In [13]:
data.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

Есть ли связь между неграмотностью и рождаемостью? Для 94 стран, уровень неграмотности женщин в которых больше 5%, известны доля неграмотных среди женщин старше 15 (на 2003 год) и средняя рождаемость на одну женщину (на 2005 год).

Чему равен выборочный коэффициент корреляции Пирсона между этими двумя признаками? Округлите до четырёх знаков после десятичной точки.

In [19]:
pearsonr(data.Illit, data.Births)

(0.768663027115179, 1.5029095259924712e-19)

In [20]:
data

                              Country  Illit  Births
0                             Albania   20.5    1.78
1                             Algeria   39.1    2.44
2                             Bahrain   15.0    2.34
3                              Belize    5.9    2.97
4                               Benin   73.5    5.60
5                             Bolivia   18.5    3.65
6                            Botswana   17.6    3.03
7                              Brazil   11.9    2.29
8                              Brunei   11.5    2.38
9                        Burkina Faso   83.4    5.90
10                              Burma   18.1    2.23
11                            Burundi   54.8    6.80
12                           Cambodia   39.8    3.89
13                         Cape Verde   30.9    3.53
14           Central African Republic   60.1    4.73
15                               Chad   60.7    6.30
16                              China   19.6    1.81
17                           Colombia    7.5    2.40
18                            Comoros   50.7    3.76
19  Congo, Democratic Republic of the   44.9    6.70
20             Congo, Republic of the   21.6    5.60
21                      Cote d'Ivoire   59.1    4.70
22                           Djibouti   41.6    4.74
23                 Dominican Republic   15.2    2.73
24                            Ecuador    9.1    2.67
25                              Egypt   53.1    3.10
26                        El Salvador   22.3    2.76
27                  Equatorial Guinea   21.6    5.89
28                            Eritrea   52.4    5.24
29                           Ethiopia   64.8    5.32
..                                ...    ...     ...
64                            Nigeria   39.0    5.50
65                               Oman   32.8    3.44
66                           Pakistan   69.4    4.12
67                             Panama    8.1    2.62
68                   Papua New Guinea   40.6    3.80
69                           Paraguay    7.0    3.67
70                               Peru   13.3    2.74
71                           Portugal    8.8    1.40
72                        Puerto Rico    5.5    1.80
73                              Qatar   15.0    2.89
74                             Rwanda   35.2    5.80
75                       Saudi Arabia   29.3    3.83
76                            Senegal   69.2    4.90
77                          Singapore   10.4    1.24
78                       South Africa   14.3    2.78
79                          Sri Lanka   10.1    1.91
80                              Sudan   49.5    4.15
81                          Swaziland   19.2    3.91
82                              Syria   36.1    3.24
83                           Tanzania   29.4    5.20
84                           Thailand    5.4    1.89
85                               Togo   53.1    5.03
86                            Tunisia   35.6    2.04
87                             Turkey   21.4    2.19
88               United Arab Emirates   18.5    2.43
89                          Venezuela    6.9    2.65
90                            Vietnam    8.5    1.78
91                              Yemen   69.8    5.87
92                             Zambia   25.2    5.40
93                           Zimbabwe   12.9    3.34

[94 rows x 3 columns]

In [26]:
#data.sort_values('Russ')
data[data['Country'].str.contains("Z")].Illit

92    25.2
93    12.9
Name: Illit, dtype: float64

In [27]:
pearsonr(data[data['Country'].str.contains("Z")].Illit, data[data['Country'].str.contains("Z")].Births)

(1.0, 0.0)

In [28]:
data[data['Country'].str.contains("Z")].Births\

92    5.40
93    3.34
Name: Births, dtype: float64

In [30]:
spearmanr(data.Illit, data.Births)

SpearmanrResult(correlation=0.752962213732534, pvalue=2.0858571221460674e-18)