In [28]:
from sklearn import model_selection, metrics, linear_model
import pylab
import numpy as np
import pandas as pd
from statsmodels.stats.weightstats import _zconfint_generic, _tconfint_generic

Для 61 большого города в Англии и Уэльсе известны средняя годовая смертность на 100000 населения (по данным 1958–1964) и концентрация кальция в питьевой воде (в частях на миллион). Чем выше концентрация кальция, тем жёстче вода. Города дополнительно поделены на северные и южные.

Постройте 95% доверительный интервал для средней годовой смертности в больших городах. Чему равна его нижняя граница? Округлите ответ до 4 знаков после десятичной точки.

In [7]:
data = pd.read_csv('water.txt', sep="\t", header=0)
data.columns = ["location", "town", "mortality", "hardness"]

In [34]:
print data["mortality"][:1]
print min(data["mortality"])
print max(data["mortality"])
print np.mean(data["mortality"])

0    1247
Name: mortality, dtype: int64
1096
1987
1524.14754098

In [15]:
std = data['mortality'].std(ddof=1)/(data.mortality.count())**0.5
#Стандартное отклонение

In [23]:
print std, " ---Стандартное отклонение"

24.028521714278174  ---Стандартное отклонение

In [26]:
mean = np.mean(data["mortality"])

In [27]:
alpha = 0.95

In [36]:
data['mortality'].count()

61

In [37]:
_tconfint_generic(mean, std, data['mortality'].count()-1, 0.05, 'two-sided')

(1476.0833413552848, 1572.2117406119285)

In [38]:
# Ответ = 1476.0833

На данных из предыдущего вопроса постройте 95% доверительный интервал для средней годовой смертности по всем южным городам. Чему равна его верхняя граница? Округлите ответ до 4 знаков после десятичной точки.

In [39]:
data

   location           town  mortality  hardness
0     South           Bath       1247       105
1     North     Birkenhead       1668        17
2     South     Birmingham       1466         5
3     North      Blackburn       1800        14
4     North      Blackpool       1609        18
5     North         Bolton       1558        10
6     North         Bootle       1807        15
7     South    Bournemouth       1299        78
8     North       Bradford       1637        10
9     South       Brighton       1359        84
10    South        Bristol       1392        73
11    North        Burnley       1755        12
12    South        Cardiff       1519        21
13    South       Coventry       1307        78
14    South        Croydon       1254        96
15    North     Darlington       1491        20
16    North          Derby       1555        39
17    North      Doncaster       1428        39
18    South       East Ham       1318       122
19    South         Exeter       1260        21
20    North      Gateshead       1723        44
21    North        Grimsby       1379        94
22    North        Halifax       1742         8
23    North   Huddersfield       1574         9
24    North           Hull       1569        91
25    South        Ipswich       1096       138
26    North          Leeds       1591        16
27    South      Leicester       1402        37
28    North      Liverpool       1772        15
29    North     Manchester       1828         8
..      ...            ...        ...       ...
31    North      Newcastle       1702        44
32    South        Newport       1581        14
33    South    Northampton       1309        59
34    South        Norwich       1259       133
35    North     Nottingham       1427        27
36    North         Oldham       1724         6
37    South         Oxford       1175       107
38    South       Plymouth       1486         5
39    South     Portsmouth       1456        90
40    North        Preston       1696         6
41    South        Reading       1236       101
42    North       Rochdale       1711        13
43    North      Rotherham       1444        14
44    North      St Helens       1591        49
45    North        Salford       1987         8
46    North      Sheffield       1495        14
47    South    Southampton       1369        68
48    South       Southend       1257        50
49    North      Southport       1587        75
50    North  South Shields       1713        71
51    North      Stockport       1557        13
52    North          Stoke       1640        57
53    North     Sunderland       1709        71
54    South        Swansea       1625        13
55    North       Wallasey       1625        20
56    South        Walsall       1527        60
57    South  West Bromwich       1627        53
58    South       West Ham       1486       122
59    South  Wolverhampton       1485        81
60    North           York       1378        71

[61 rows x 4 columns]

In [46]:
print data[data.location == "South"], '\n'
print len(data[data.location == "South"])

   location           town  mortality  hardness
0     South           Bath       1247       105
2     South     Birmingham       1466         5
7     South    Bournemouth       1299        78
9     South       Brighton       1359        84
10    South        Bristol       1392        73
12    South        Cardiff       1519        21
13    South       Coventry       1307        78
14    South        Croydon       1254        96
18    South       East Ham       1318       122
19    South         Exeter       1260        21
25    South        Ipswich       1096       138
27    South      Leicester       1402        37
32    South        Newport       1581        14
33    South    Northampton       1309        59
34    South        Norwich       1259       133
37    South         Oxford       1175       107
38    South       Plymouth       1486         5
39    South     Portsmouth       1456        90
41    South        Reading       1236       101
47    South    Southampton       1369        68
48    South       Southend       1257        50
54    South        Swansea       1625        13
56    South        Walsall       1527        60
57    South  West Bromwich       1627        53
58    South       West Ham       1486       122
59    South  Wolverhampton       1485        81

26

In [47]:
dataSouth = data[data.location == "South"]

In [49]:
stdSouth = dataSouth['mortality'].std(ddof=1)/(dataSouth.mortality.count())**0.5

In [55]:
stdSouth
# Стандртное отклонение по южным (по всем была = 24.028521714278174)

27.509048538240833

In [56]:
meanSouth = np.mean(dataSouth["mortality"])
meanSouth

1376.8076923076924

In [67]:
_tconfint_generic(meanSouth, stdSouth, dataSouth['mortality'].count()-1, 0.05, 'two-sided')

(1320.1517462936238, 1433.463638321761)

In [68]:
# Ответ = 1433.4636

На тех же данных постройте 95% доверительный интервал для средней годовой смертности по всем северным городам. Пересекается ли этот интервал с предыдущим? Как вы думаете, какой из этого можно сделать вывод?

In [69]:
print data[data.location == "North"], '\n'
print len(data[data.location == "North"])

   location           town  mortality  hardness
1     North     Birkenhead       1668        17
3     North      Blackburn       1800        14
4     North      Blackpool       1609        18
5     North         Bolton       1558        10
6     North         Bootle       1807        15
8     North       Bradford       1637        10
11    North        Burnley       1755        12
15    North     Darlington       1491        20
16    North          Derby       1555        39
17    North      Doncaster       1428        39
20    North      Gateshead       1723        44
21    North        Grimsby       1379        94
22    North        Halifax       1742         8
23    North   Huddersfield       1574         9
24    North           Hull       1569        91
26    North          Leeds       1591        16
28    North      Liverpool       1772        15
29    North     Manchester       1828         8
30    North  Middlesbrough       1704        26
31    North      Newcastle       1702        44
35    North     Nottingham       1427        27
36    North         Oldham       1724         6
40    North        Preston       1696         6
42    North       Rochdale       1711        13
43    North      Rotherham       1444        14
44    North      St Helens       1591        49
45    North        Salford       1987         8
46    North      Sheffield       1495        14
49    North      Southport       1587        75
50    North  South Shields       1713        71
51    North      Stockport       1557        13
52    North          Stoke       1640        57
53    North     Sunderland       1709        71
55    North       Wallasey       1625        20
60    North           York       1378        71

35

In [70]:
dataNorth = data[data.location == "North"]
stdNorth = dataNorth['mortality'].std(ddof=1)/(dataNorth.mortality.count())**0.5
meanNorth = np.mean(dataNorth["mortality"])

In [71]:
_tconfint_generic(meanNorth, stdNorth, dataNorth['mortality'].count()-1, 0.05, 'two-sided')

(1586.5605251961385, 1680.6394748038613)

In [98]:
# South : (1320.1517462936238, 1433.463638321761)
# North : (1586.5605251961385, 1680.6394748038613)
south = np.array((1320.1517462936238, 1433.463638321761))
north = np.array((1586.5605251961385, 1680.6394748038613))

In [99]:
cross = north - south

In [100]:
cross

array([266.4087789 , 247.17583648])

Пересекаются ли 95% доверительные интервалы для средней жёсткости воды в северных и южных городах?

In [114]:
#затрахали
dfrac{disp^{2}*z^{2}}{error^{2}}

Вспомним формулу доверительного интервала для среднего нормально распределённой случайной величины с дисперсией σ^2:

При σ=1 какой нужен объём выборки, чтобы на уровне доверия 95% оценить среднее с точностью ±0.1?

In [ ]:
#http://baguzin.ru/wp/opredelenie-obema-vyborki/
#((1.96*1)/1)**2 = 384.16 ~ 385