In [1]:
import numpy as np
import pandas as pd

In [2]:
banknotes = pd.read_csv('banknotes.txt', sep='\t')
banknotes.head()

      X1     X2     X3    X4    X5     X6  real
0  214.8  131.0  131.1   9.0   9.7  141.0     1
1  214.6  129.7  129.7   8.1   9.5  141.7     1
2  214.8  129.7  129.7   8.7   9.6  142.2     1
3  214.8  129.7  129.6   7.5  10.4  142.0     1
4  215.0  129.6  129.7  10.4   7.7  141.8     1

In [3]:
banknotes = pd.read_csv('banknotes.txt', sep='\t')
banknotes.head()

      X1     X2     X3    X4    X5     X6  real
0  214.8  131.0  131.1   9.0   9.7  141.0     1
1  214.6  129.7  129.7   8.1   9.5  141.7     1
2  214.8  129.7  129.7   8.7   9.6  142.2     1
3  214.8  129.7  129.6   7.5  10.4  142.0     1
4  215.0  129.6  129.7  10.4   7.7  141.8     1

In [4]:
from sklearn.model_selection import train_test_split as tts

In [5]:
X_train, X_test, y_train, y_test = tts(banknotes[['X1','X2','X3','X4','X5','X6']], banknotes['real'], random_state=1, test_size=0.25)

In [6]:
from sklearn.linear_model import LogisticRegression as LR

In [7]:
est1 = LR(random_state=1)
est1.fit(X_train[['X1', 'X2', 'X3']], y_train)
est2 = LR(random_state=1)
est2.fit(X_train[['X4', 'X5', 'X6']], y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=1, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [8]:
import scipy

In [9]:
err1 = (y_test == est1.predict(X_test[['X1', 'X2', 'X3']])).astype(np.int)
err2 = (y_test == est2.predict(X_test[['X4', 'X5', 'X6']])).astype(np.int)

In [10]:
err1f = (err1 == 0).astype(np.int)
err2f = (err2 == 0).astype(np.int)

In [11]:
def proportions_diff_confint_rel(sample1, sample2, alpha = 0.05):
    z = scipy.stats.norm.ppf(1 - alpha / 2.)
    sample = zip(sample1, sample2)
    n = len(sample1)
        
    f = sum([1 if (x[0] == 1 and x[1] == 0) else 0 for x in sample])
    g = sum([1 if (x[0] == 0 and x[1] == 1) else 0 for x in sample])
    
    left_boundary = float(f - g) / n  - z * np.sqrt(float((f + g)) / n**2 - float((f - g)**2) / n**3)
    right_boundary = float(f - g) / n  + z * np.sqrt(float((f + g)) / n**2 - float((f - g)**2) / n**3)
    return (left_boundary, right_boundary)

In [12]:
proportions_diff_confint_rel(err2, err1)

(0.059945206279614305, 0.3000547937203857)