In [23]:
import numpy as np
import pandas as pd

from scipy.stats import wilcoxon

In [39]:
data = pd.read_csv('AUCs.txt', sep='\t', header=0)
data.columns = ['name','c45','c45m','c45cf','c45mcf']

In [35]:
data

                       name    c45   c46m  c45cf  c45mcf
0            adult (sample)  0.763  0.768  0.771   0.798
1             breast cancer  0.599  0.591  0.590   0.569
2   breast cancer wisconsin  0.954  0.971  0.968   0.967
3                       cmc  0.628  0.661  0.654   0.657
4                ionosphere  0.882  0.888  0.886   0.898
5                      iris  0.936  0.931  0.916   0.931
6           liver disorders  0.661  0.668  0.609   0.685
7               lung cancer  0.583  0.583  0.563   0.625
8              lymphography  0.775  0.838  0.866   0.875
9                  mushroom  1.000  1.000  1.000   1.000
10            primary tumor  0.940  0.962  0.965   0.962
11                    rheum  0.619  0.666  0.614   0.669
12                   voting  0.972  0.981  0.975   0.975
13                     wine  0.957  0.978  0.946   0.970

Классификатор C4.5 и три его модификации: с оптимизацией гиперпараметра m, гиперпараметра cf и с одновременной оптимизацией обоих гиперпараметров. Эти четыре классификатора сравнивались на 14 наборах данных. На каждом датасете был посчитан AUC каждого классификатора. Данные записаны в файле:

AUCs.txt

Используя критерий знаковых рангов, проведите попарное сравнение каждого классификатора с каждым. Выберите два классификатора, различие между которыми наиболее статистически значимо.

In [22]:
#scipy.stats.wilcoxon(x, y=None, zero_method='wilcox', correction=False)[source]¶

In [40]:
data.c45

0     0.763
1     0.599
2     0.954
3     0.628
4     0.882
5     0.936
6     0.661
7     0.583
8     0.775
9     1.000
10    0.940
11    0.619
12    0.972
13    0.957
Name: c45, dtype: float64

In [205]:
wilcoxon(data.c45,data.c45m)

WilcoxonResult(statistic=6.5, pvalue=0.01075713311978963)

In [196]:
res = []
odata = data.drop(['name'],axis=1)
for i in odata.columns:
    for ii in odata.columns.drop(i):
        w,p = wilcoxon(odata[i],odata[ii])
        print i,' ++ ',ii, '  ','stat=',w,'---','p=',p
        res.append([[p][0],[w][0],[i][0],[ii][0]])

c45  ++  c45m    stat= 6.5 --- p= 0.01075713311978963
c45  ++  c45cf    stat= 43.0 --- p= 0.861262330095348
c45  ++  c45mcf    stat= 11.0 --- p= 0.015906444101703374
c45m  ++  c45    stat= 6.5 --- p= 0.01075713311978963
c45m  ++  c45cf    stat= 17.0 --- p= 0.046332729793395394
c45m  ++  c45mcf    stat= 22.0 --- p= 0.3278256758446406
c45cf  ++  c45    stat= 43.0 --- p= 0.861262330095348
c45cf  ++  c45m    stat= 17.0 --- p= 0.046332729793395394
c45cf  ++  c45mcf    stat= 10.0 --- p= 0.022909099354356588
c45mcf  ++  c45    stat= 11.0 --- p= 0.015906444101703374
c45mcf  ++  c45m    stat= 22.0 --- p= 0.3278256758446406
c45mcf  ++  c45cf    stat= 10.0 --- p= 0.022909099354356588

In [197]:
odata.columns.drop(i)

Index([u'c45', u'c45m', u'c45cf'], dtype='object')

In [198]:
sorted(res)

[[0.01075713311978963, 6.5, 'c45', 'c45m'],
 [0.01075713311978963, 6.5, 'c45m', 'c45'],
 [0.015906444101703374, 11.0, 'c45', 'c45mcf'],
 [0.015906444101703374, 11.0, 'c45mcf', 'c45'],
 [0.022909099354356588, 10.0, 'c45cf', 'c45mcf'],
 [0.022909099354356588, 10.0, 'c45mcf', 'c45cf'],
 [0.046332729793395394, 17.0, 'c45cf', 'c45m'],
 [0.046332729793395394, 17.0, 'c45m', 'c45cf'],
 [0.3278256758446406, 22.0, 'c45m', 'c45mcf'],
 [0.3278256758446406, 22.0, 'c45mcf', 'c45m'],
 [0.861262330095348, 43.0, 'c45', 'c45cf'],
 [0.861262330095348, 43.0, 'c45cf', 'c45']]

In [199]:
print 'MAX ', max(res),'\n MIN ' ,min(res),
sorted(res)

MAX  [0.861262330095348, 43.0, 'c45cf', 'c45']
 MIN  [0.01075713311978963, 6.5, 'c45', 'c45m']

[[0.01075713311978963, 6.5, 'c45', 'c45m'],
 [0.01075713311978963, 6.5, 'c45m', 'c45'],
 [0.015906444101703374, 11.0, 'c45', 'c45mcf'],
 [0.015906444101703374, 11.0, 'c45mcf', 'c45'],
 [0.022909099354356588, 10.0, 'c45cf', 'c45mcf'],
 [0.022909099354356588, 10.0, 'c45mcf', 'c45cf'],
 [0.046332729793395394, 17.0, 'c45cf', 'c45m'],
 [0.046332729793395394, 17.0, 'c45m', 'c45cf'],
 [0.3278256758446406, 22.0, 'c45m', 'c45mcf'],
 [0.3278256758446406, 22.0, 'c45mcf', 'c45m'],
 [0.861262330095348, 43.0, 'c45', 'c45cf'],
 [0.861262330095348, 43.0, 'c45cf', 'c45']]

In [200]:
pdres = pd.DataFrame.from_records(res)
pdres.columns = ['p','s','one','two']
pdres

           p     s     one     two
0   0.010757   6.5     c45    c45m
1   0.861262  43.0     c45   c45cf
2   0.015906  11.0     c45  c45mcf
3   0.010757   6.5    c45m     c45
4   0.046333  17.0    c45m   c45cf
5   0.327826  22.0    c45m  c45mcf
6   0.861262  43.0   c45cf     c45
7   0.046333  17.0   c45cf    c45m
8   0.022909  10.0   c45cf  c45mcf
9   0.015906  11.0  c45mcf     c45
10  0.327826  22.0  c45mcf    c45m
11  0.022909  10.0  c45mcf   c45cf

Сравнивая 4 классификатора между собой, мы проверили 6 гипотез. Давайте сделаем поправку на множественную проверку. Начнём с метода Холма. Сколько гипотез можно отвергнуть на уровне значимости 0.05 после поправки этим методом?

In [201]:
from statsmodels.stats.multitest import multipletests

In [160]:
#multipletests(pvals, alpha=0.05, method='hs', is_sorted=False, returnsorted=False)[source]¶

methodstring
Method used for testing and adjustment of pvalues. Can be either the full name or initial letters. Available methods are:

bonferroni : one-step correction

sidak : one-step correction

holm-sidak : step down method using Sidak adjustments

holm : step-down method using Bonferroni adjustments

simes-hochberg : step-up method (independent)

hommel : closed method based on Simes tests (non-negative)

fdr_bh : Benjamini/Hochberg (non-negative)

fdr_by : Benjamini/Yekutieli (negative)

fdr_tsbh : two stage fdr correction (non-negative)

fdr_tsbky : two stage fdr correction (non-negative)

In [208]:
multipletests(pd.unique(pdres.p), alpha=0.05,method='fdr_bh')

(array([ True, False,  True, False, False,  True]),
 array([0.0458182 , 0.86126233, 0.0458182 , 0.06949909, 0.39339081,
        0.0458182 ]),
 0.008512444610847103,
 0.008333333333333333)

In [207]:
pd.unique(pdres.p)

array([0.01075713, 0.86126233, 0.01590644, 0.04633273, 0.32782568,
       0.0229091 ])

Насколько корректно, на ваш взгляд, применение метода Бенджамини-Хохберга в этой задаче?

In [210]:
#Некорректно: статистики, соответствующие разным гипотезам, зависимы, 
#так что предположения метода Бенджамини-Хохберга не выполняются